@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Secular+One&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a, #hero-msg h1, #hero-msg h4, main section {
    text-align: center;
    
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    
}

.logo {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fcfbfb; 
    font-family: Poppins, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 22px;
}

header {
    background-color: #12130F;
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #FF8360;
    color: white;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 2fr;
    margin-top: 50px;

}



#hero-msg {
    grid-column: 2/5;
    grid-row: 1/2;
    align-content: center;
    max-height: 200px;
}

#hero-msg h4{
    color: #12130F;
}
#hero-img {
    grid-column: 1/6;
    grid-row: 2/3;
}
#hero-img img {
    max-width: 100%;
}
.home-title {
    color: #12130F;
    font-family: Secular One, Arial, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h4 {
    color: #023047;
}

.intro-title {
    color: #12130F;
    font-size: 2em;
    font-family: Secular One, Arial, sans-serif;

}

.intro p {
    color: #12130F;
    font-size: 1em;
    padding-bottom: 15px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

.intro{
    margin: 10% auto;
    grid-column: 1/6;
    grid-row: 1/2;
}

.intro h2 {
    margin-bottom: 5%;
}

.choice-img {
    margin-left: -41px;
    max-width: 100%;
    max-height: 1000px;
    grid-column: 1/4;
    grid-row: 2/3;
}

.choice-msg {
    grid-column: 4/6;
    grid-row: 2/3;
    padding: 10%;
}

.choice-msg p {
    margin: 60px 20px 60px -40px;
}

.choice-msg h2 {
    color: #12130F;
    font-size: 2em;
    font-family: Secular One, Arial, sans-serif;
    margin-left: -40px;
}
.empty {
    height: 100px;
    grid-column: 1/6;
    
}

.accordion {
    background-color: #F8F4E3;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1em;
    transition: 0.4s;
    grid-column: 3/4;
    
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #fcfbfb;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    grid-column: 3/4;
    
}

h4 {

    color: #12130F;
    font-size: 1em;
    font-family: Secular One, Arial, sans-serif;

}


footer {
    background-color: #12130F;
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer a {
    color: #fcfbfb;
    text-decoration: none;
}

footer a:hover {
    color: #FF8360;
}

.logo, .icon {
    width: 80px;
}

.icon {
    padding-top: 10px;
}


footer p {
    font-size: 1.2em;
    color: #fcfbfb;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}












/* PROCESSORS PAGE */



#hero-processors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 300px;
    
    
}



#hero-processors-img {
    grid-column: 2/5;
    grid-row: 1/2;
    max-height: 100%;
}


#hero-processors-img img {
    width: 100%;
    height: 100%;
    border-top: 10px solid #759AAB;
    border-bottom: 10px solid #FF8360;

}


#hero-processors-msg {
    grid-column: 2/5;
    grid-row: 2/3;
    align-content: center;
    text-align: center;
    margin-top: 50px;
    max-height: 200px;
    
   
}

#hero-processors-msg h4{
    color: #12130F;
}


.processors-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 300px 1fr repeat(5, 800px);
    
    
}

.processors-grid img{
    width: 100%;
}

.processors-grid h2 {

    color: #12130F;
    font-size: 2em;
    font-family: Secular One, Arial, sans-serif;
    margin: 30px 0;
}


.images {
    border-top: 10px solid #FF8360;
    grid-column: 1/6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #12130F;
    
}

.chips {
    min-height: 150px;
    min-width: 150px;
    max-width: 200px;
    max-height: 200px;
}

.intro2 {
    border-top: 10px solid #759AAB;
    grid-column: 1/6;
    grid-row: 2/3;
    padding: 10%;
    max-height: 800px;
}

.intro-title2 {
    color: #12130F;
    font-size: 2em;
    font-family: Secular One, Arial, sans-serif;

}

.intro2 p {
    color: #12130F;
    font-size: 1em;
    padding-bottom: 15px;
    text-align: justify;
}

.m1chip-summary {
    grid-column: 2/5;
    grid-row: 3/4;
    max-height: 500px;
    
}

.m2chip-summary {
    grid-column: 2/5;
    grid-row: 4/5;
    
}

.m1pro-chip-summary {
    grid-column: 2/5;
    grid-row: 5/6;
    
}

.m1max-chip-summary {
    grid-column: 2/5;
    grid-row: 6/7;
    
}

.m1ultra-chip-summary {
    grid-column: 2/5;
    grid-row: 7/8;
    
}


hr {
    border-top: 10px solid #FF8360;
}



