body {
    padding: 0;
    margin: 0;
    letter-spacing: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "left right"
    ;
}

h1 {
    z-index: 1;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    margin-bottom: 25%;
    font-size: 150px;
    ;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
    background-color: grey;
}

h2 {
    text-align: center;
    margin-top: 80%;
    color:brown;
    font-size: 50px;
}


